{% load static from staticfiles%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dove</title>
    <meta name="description" content="教程 分享 交流 学习">
    <meta name="keywords" content="教程 分享 交流 学习">
    <link rel="shortcut icon" href="{% static '/blog/img/fav.png' %}" type="image/x-icon" />
    <!--bootstrap 样式-->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!--图标 awesome-->
    <script src="http://cdn.bootcss.com/headroom/0.5.0/headroom.min.js"></script>
    <!--自定义样式-->
    <link href="{% static 'blog/css/base.css' %}" rel="stylesheet">
</head>
<body>

</body>
</html>